node_modules
.env
.vscode

./ethereum/build/*.*
./ethereum/build/Campaign.json
./ethereum/build/CampaignFactory.json
ethereum/build/Campaign.json
ethereum/build/CampaignFactory.json

ethereum/build
data.info